{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="mb-4">About Me</h1>
                <p>
                    Bienvenue sur mon premier projet de Data Science. Mon nom est Cébrail, et je suis passionné par la technologie,
                    la programmation et l'apprentissage automatique. Je suis ravi de partager mes connaissances avec
                    vous à travers cette application de détection de langues. Cette application est très simple, il suffit de rentrer une phrase et d'appuyer sur "Detect Language" afin de détecter la langue écrite.
                    Il est préférable de faire des phrases longues car le modèle est assez basique et pas très complexe.
                </p>
                <p>
                    N'hésitez pas à me contacter si vous avez des questions ou des suggestions. Merci de visiter ma page!
                    My github : <a href="https://github.com/cebsmind" target="_blank">https://github.com/cebsmind</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
