<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Language Detection{% endblock %}</title>
    <!-- Utilisation des liens CDN pour Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Lien vers le fichier CSS local -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <!-- Lien vers le fichier JavaScript local -->
    <script src="{{ url_for('static', filename='js/backgroundAnimation.js') }}"></script>
</head>

<body>
    <!-- Barre de navigation Bootstrap -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Language Detection by @Cebrail</a>
            <!-- Ajouter d'autres éléments de navigation ici si nécessaire -->
        </div>
    </nav>
    
    <!-- Contenu de la page -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Pied de page -->
    <footer class="mt-4">
        <!-- Ajouter d'autres éléments de pied de page ici si nécessaire -->
    </footer>

    <!-- Utilisation des liens CDN pour les scripts Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
</body>

</html>